<%= form_for @new_room, url: {action: "create"}, html: {class: "form-inline"} do |form| %>
   <div class = "input-group">
     <%= form.text_field :name, class: "form-control", autocomplete: "off" %>
     <div class ="input-group-btn">
       <%= form.submit "Create Room!", class: "btn btn-success" %>
     </div>
   </div>
   <input type = "hidden" id = "verify_lat" name = "room[lat]"  value = "">
   <input type = "hidden" id = "verify_long" name = "room[long]" value = "">
<% end %>
