<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Campus Chat</a>
    </div>
    <div class = "collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li<% if yield(:title) == "Room Listings" %> class="active"<% end %>><a href="<% if yield(:title) == "Room Listings" %>#<% else %><%= listings_path %><% end %>">Rooms</a></li>
      </ul>
    </div>
  </div>
</div>

<div class = "container">
<% flash.each do |a,b| %>
  <%= content_tag(:div, b, class: "row text-center alert alert-#{a}") %>
<% end %>
</div>
